# Binaries
/geoschem-builder
/geoschem-deployer

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# AWS
.aws/
*.pem

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db